<!DOCTYPE html>
<html>
<head>
    <title>Trang chủ</title>
    <!-- Thêm Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="display-4">Spring Boot MVC</h1>
    <p th:text="${message}" class="lead"></p>
    <a href="/add" class="btn btn-primary">Chat</a>
    <a href="/Register" class="btn btn-primary">Register</a>
    <a href="/Login" class="btn btn-primary">Login</a>
</div>

<!-- Thêm Bootstrap JavaScript và jQuery (nếu cần) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
